---
- name: Import global variables
  include_vars:
    dir: "{{ inventory_dir }}/group_vars/"

- name: Check for nginx
  package:
    name: nginx
    state: present
    lock_timout: 180
    
- name: Create webserver directory
  file:
    path: "/var/www/explorecalifornia.com/html/"
    state: directory
    mode: '0755'
    group: www-admin
    owner: www-admin
    setype: httpd_sys_content_t

- name: Pull website files from repo to ansible
  git:
    repo: https://github.com/BonjeBongo/Explore_California_Website.git
    dest: "/var/www/explorecalifornia.com/html/"

- name: Get the template in place
  template:
    src: "files/explorecalifornia.conf"
    dest: "/etc/nginx/conf.d/"
    serole: object_r
    setype: httpd_config_t
    seuser: system_u
  notify: restart nginx
